{% extends "layout.html" %}
{% block body %}
    <nav id="main-nav">
        <h1 class="logo">
            <span class="text-medium"><i class="fas fa-shield-alt"></i> Univer</span><span class="text-primary">Sell</span>
        </h1>
        <!-- <span class="welcome text-medium">Welcome Ridaa</span> -->
        <ul>
            
            <li><a href="/main" class="active">Home</a></li>
            
            <li><a href="/logout"> <i class="fas fa-sign-out-alt"></i>  Logout </a></li>
        </ul>
    </nav>
    


    <section id="user_area">
        <div id="sidebar">
            <div class="side_section">
                <ul>
                    <li>
                        <a href="#">Networking</a>
                    </li>
                    <li >
                        <a href="/mac" >MAC Changer</a>
                    </li>
                    <li>
                        <a href="/network">Network Scanning</a>
                    </li>
                    <li>
                        <a href="/arp">ARP Spoofing</a>
                    </li>
                    <li>
                        <a href="/sniff">Packet Sniffing</a>
                    </li>
                    <li>
                        <a href="/dns">DNS Spoofer</a>
                    </li><li>
                        <a href="/file">File Interceptor</a>
                    </li>
                    <li class="sel">
                        <a href="/code">Code Injector</a>
                    </li>
                </ul>
            </div>
            <div class="side_section">
                <ul>
                    <li>
                        <a href="#">Malware</a>
                    </li>
                    <li>
                        <a href="/malware">Steal All Info</a>
                    </li>
                    <li>
                        <a href="/steal">Steal WiFi Passwords</a>
                    </li>
                </ul>
            </div>
            <div class="side_section">
                <ul>
                    <li>
                        <a href="#">Web Application Security</a>
                    </li>
                    <li>
                        <a href="/dict">Dictionary Attack</a>
                    </li>
                    <li>
                        <a href="/crawl">Crawl Site</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="sub_section">
            <br>
            <h1 class="m-heading">Code Injector</h1>
            <div class="bottom-line"></div>
            <br>
            <div>
                {% from "_form_helper.html" import render_field %}
                {% include '_messages.html' %}
                <br>
                <form action="/code" method="POST">
                  
                    <br>
                    {{ render_field(form.code, placeholder="eg: alert(1)") }}
                    <br>
                    <button type="submit" class="btn mr">Inject Code</button>
                    <button type="submit" name="remove" class="btn">Remove Injection</button>
                </form>
                <br><br>
                <div id="output">
                    <div id="header">Output</div>
                       
                        {% if results %}
                        <div class="results_area">
                            {% for result in results %}
                                <span class="help-inline">{{ result }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        
                       <br>
                        <span class="results">
                            Results Not Available
                        </span>
                        <br>
                    {% endif %}
                </div>
           
        </div>
    </div>
</section>

    <script>
        var  navbar = document.getElementById("main-nav");
        window.onscroll = function(){
            if(document.documentElement.scrollTop >= 200){
                 navbar.style.opacity = '0.85';
            }else {
                 navbar.style.opacity = '1';
            }
        }


    //     $("#remove_injection").click(function(){

    //         $.ajax({
    //             type: 'POST',
    //             url: "/remove_injection",
    //             success: function(data){
    //             console.log('YES')
    //             window.location.href='/code' 
                
    //             }   
                
    //         });
    //  })

    </script>

{% endblock %}